body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#board {
  width: 403px;
  height: 403px;
  border: 1px solid purple;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#board img {
  width: 79px;
  height: 79px;
  border: 1px solid lightblue;
  object-fit: contain;
}

#pieces {
  width: 1047.8px;
  height: 160px;
  border: 1px solid purple;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#pieces img {
  width: 79px;
  height: 79px;
  border: 1px solid lightblue;
  object-fit: contain;
}
